<div class="container-fluid">
    <h1>To do list</h1>
    <form [formGroup]="todoListForm">
      <div class="form-group">
        <label for="inputTopic">Topic</label>
        <input type="text" class="form-control" formControlName="topic" id="inputTopic" placeholder="Topic">
        <div class="invalid-feedback">Please input Topic.</div>
      </div>
      <div class="form-group">
        <label for="inputDescription">Desciption</label>
        <input type="text" class="form-control" formControlName="description" id="inputDescription" placeholder="Description">
        <div class="invalid-feedback">Please input Desciption.</div>
      </div>
      <div class="form-group text-center" *ngIf="isAdd">
        <button type="button" class="btn btn-primary" (click)="add()" id="btnAdd">Add</button>
      </div>
      <div class="form-group text-center" *ngIf="!isAdd">
        <button type="button" class="btn btn-primary" (click)="update()" id="btnUpdate">Update</button>
      </div>
    </form>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>#</th>
            <th>Topic</th>
            <th>Description</th>
            <th class="button-action">Edit</th>
            <th class="button-action">Remove</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of todoList; let rowIndex = index;">
            <th scope="row">{{rowIndex+1}}</th>
            <td>{{item.topic}}</td>
            <td>{{item.description}}</td>
            <td class="button-action"><button type="button" class="btn btn-info" (click)="edit(rowIndex)" id="btnEdit">Edit</button></td>
            <td class="button-action"><button type="button" class="btn btn-danger" (click)="remove(rowIndex)" id="btnRemove">Remove</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>